<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>คนลงทะเบียนร่วมกิจกรรม</ion-title>
  </ion-navbar>
  <!-- <ion-row class="toolbar toolbar-background-md border-top-black">
    <ion-col col-4 class=" text-cen font-width font-white  {{yesterday}}" id="yesterday" (click)='getdata("yesterday")'  >เมื่อวาน</ion-col>
    <ion-col col-4 class=" text-cen font-width font-white  {{today}}" id="today" (click)='getdata("today")'>วันนี้</ion-col>
    <ion-col col-4 class=" text-cen font-width font-white {{tomorrow}}" id="tomorrow" (click)='getdata("tomorrow")'>พรุ่งนี้</ion-col>
  </ion-row> -->
</ion-header>


<!-- <ion-header>
  <ion-navbar>
    <ion-title>คนลงทะเบียนร่วมกิจกรรม</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content>


  <ion-list *ngIf='hasPromotion'>
    <ion-item *ngFor='let d of data'>
      <h2>{{ d.email }}</h2>
      <p>{{ d.phone }}</p>
      <button ion-button clear item-end (click)='chosePromo(d.user_id)'>เลือก</button>
    </ion-item>
  </ion-list>

    <div *ngIf='!hasPromotion' style="text-align:center">
      ไม่มีโปรโมชั่น

    </div>


</ion-content>
