<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        </ion-buttons>
        <ion-title>Free Gift</ion-title>
        <ion-buttons right *ngIf='status'>
            <button right ion-button icon-only (click)="gotoSettingpromotionPage()">
                <ion-icon name="add" ></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>


    <!-- <ion-row class="toolbar toolbar-background-md ">
      <ion-col col-4 class=" text-cen font-width font-white  {{yesterday}}" id="yesterday" (click)='share("yesterday")'  >เมื่อวาน</ion-col>
      <ion-col col-4 class=" text-cen font-width font-white  {{today}}" id="today" (click)='share("today")'>วันนี้</ion-col>
      <ion-col col-4 class=" text-cen font-width font-white {{tomorrow}}" id="tomorrow" (click)='share("tomorrow")'>พรุ่งนี้</ion-col>
    </ion-row> -->
  </ion-header>

<ion-content >
  <ion-row>
    <ion-col>
            <img src="http://www.pattayapal.com/api/images/{{image}}" *ngIf='hideImage' style="width:100%;height:auto;">
            <img src="http://www.pattayapal.com/api/images/introduction/1.jpg" *ngIf="showImage" style="width:100%;height:auto;">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col padding>
      <h4 class="font-width" >{{title}}</h4>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col padding>
        <h6 class="font-width">ระยะเวลาโปรโมชั่น</h6>
        <p >วันนี้ถึงวันที่ </p>

    </ion-col>    
  </ion-row>
  <ion-row>
    <ion-col padding>
        <h5 class="font-width">รายละเอียด</h5>
        <p [innerHTML]="detail"></p>

    </ion-col>    
  </ion-row>

  <ion-row>
    <ion-col padding>
        <h5 class="font-width">เงื่อนไข</h5>
        <p [innerHTML]="condition"></p>

    </ion-col>        
  </ion-row>
</ion-content>

<ion-footer class="{{show}}">
    <!-- <ion-toolbar>
      <ion-row>
        <ion-col col-6 class="text-cen font-width font-size font-white" (click)='share()'>Share</ion-col>
        <ion-col col-6 class="text-cen font-width font-size font-white" (click)='getLucky()'>ลุ้นรับสิทธิ์</ion-col>
      </ion-row>
    </ion-toolbar> -->
    <ion-toolbar>
      <ion-row>
        <ion-col  class="text-cen font-width font-size font-white" (click)='getLucky()'>ลุ้นรับสิทธิ์</ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>