page-youtube {
    .item-md ion-thumbnail{ min-height: 0px; }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{ width: 140px;height: auto; }
    .card-content-md, .card-content-ios{  
        padding: 10px;
        display: block;
        position: relative;
    }


    .ion-page > ion-content{ position: relative; }


}
