<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar style="height:200px;" *ngIf="!email">
      <ion-title>เข้าสู่ระบบเพื่อรับสิทธิประโยชน์</ion-title>
     <div style="text-align:center;margin-top:30px;"> 
       <button menuClose ion-button style="width:40%;font-size: 14pt;" (click)='gotoIntro()' >เข้าสู่ระบบ</button>
      </div>
    </ion-toolbar>

    <ion-toolbar style="height:200px;" *ngIf="email" style="padding:0px;">
      <img [src]="image" style="width:100%;height:auto;">

    </ion-toolbar>




  </ion-header>

  <ion-content>
      <ion-list *ngIf="email">
      <div (click)='gotoProfile()' menuClose> 
          <button menuClose ion-item (click)="gotopromoted()" >ดูข้อมูลส่วนตัว</button>
      </div>
      </ion-list>
  <div *ngIf='status'>
      <ion-list-header  style="background: #dcdcdc;font-size: 20px;color:black;font-weight: 600;" >Admin</ion-list-header>

      <ion-list>
          <button menuClose ion-item (click)="gotoSettingpromotionPage()" >ตั้งค่าโปรโมชั่น</button>
          <button menuClose ion-item (click)="gotoSettingabout()" >ตั้งค่าเกี่ยวกับ</button>
          <button menuClose ion-item (click)="gotoSettingAds()" >ตั้งค่าโฆษณา</button>
          <button menuClose ion-item (click)="gotopromoted()" >คนลงทะเบียน</button>
          <!-- <button menuClose ion-item (click)="openPage(p)" >a</button> -->
      </ion-list>
  
    <ion-list-header style="background: #dcdcdc;font-size: 20px;color:black;font-weight: 600;"></ion-list-header>
  </div>
    <ion-list >
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" >
        <div >
        <img src="assets/menu/{{p.title}}.png" style="width:35px;"><span style='font-size: 20px;padding-left:10px;font-weight:500'> {{p.title}}</span>
        </div>
      </button>
    </ion-list>



<!-- //test -->


    <div >
        <img src="http://pattayapal.com/api/images/ads/หน้าเมนู.png">
    </div>

  </ion-content>



</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>